/* Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Add padding as needed */
    background-color: rgb(11, 11, 10); /* Add background color as needed */
    color: rgb(240, 255, 250);
  }
  
  .logo {
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
  }
  
  .address {
    display: flex;
    align-items: center;
  }
  
  .address-icon {
    margin-right: 10px; /* Adjust margin as needed */
  }
  .search{
    display: flex;
    background-color: white;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search-select{
    
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
    height: 40px;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #d1fe68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
  
  .list {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Adjust gap between list items as needed */
  }
  
  li {
    font-size: 16px;
    display: flex; /* Adjust font size as needed */
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: white; /* Adjust text color as needed */
    transition: color 0.3s ease-in-out; /* Add smooth color transition */
  }
  
  a:hover {
    color: #007bff; /* Change color on hover as needed */
  }
  .cnt{
    color: wheat;
  }

  .cart-cntr
  {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    z-index: 3;
  
  }
  .cart-item-count
  {
    background-color: white;
    color: #0f1111;
    padding: .5px .5px;
    border-radius: 50px;
    font-size: 12px;
    margin-left: 11px;
    z-index: 10;
    margin-bottom: -7px;
  
  }
 
 
  